@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  border-radius: 10px;
  font-size: 14px;
  font-weight: 500;
}

h2 {
  font-size: 30px;
  font-weight: 600;
}

.custom-checkbox input[type="checkbox"] {
  appearance: none;
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 0;
  position: relative;
  cursor: pointer;
  transition: 500ms;
}

.custom-checkbox input[type="checkbox"]:checked {
  background-color: blue;
  color: white;
}

.custom-checkbox input[type="checkbox"]:checked::before {
  content: "✓";
  top: -3px;
  right: 2.5px;
  position: absolute;
}

#root {
  background-color: #F0F3FF;
  width: 100vw;
  height: 100vh;
}